body {
  background-color: beige; 
  font-family: Arial, sans-serif;
  margin: 10px;
}

h1 {
  padding-left: 10px;
}

div div {
  padding: 10px;
}

.dashboard div a {
  margin-right: 30px;
  padding: 5px 10px 5px 10px;
  text-decoration:none;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
}

.signin div input{
  display: flex;
  margin-bottom: 10px;
}

.signin div a {
  margin-right: 30px;
  padding: 5px 10px 5px 10px;
  text-decoration:none;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
}

.signup div a {
  margin-right: 30px;
  padding: 5px 10px 5px 10px;
  text-decoration:none;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
}

.signup div input{
  display: flex;
  margin-bottom: 10px;
}

.todo button{
  margin: 5px 10px;
}

@media (max-width: 900px) {
  body {
    zoom: 1;
  }
}

@media (max-width: 600px) {
  body {
    zoom: 2;
  }
}